* {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#root {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}


.main__div {
    background-color: white;
    height: 90%;
    width: 90%;
    text-align: center;
}

.main__title {
    color: lightgreen;
    font-size: 4rem;
    height: 15%;
    border: 0;
}

.break__line {
    border-top: 5px dotted lightskyblue;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    height: 5%;
    margin: 20px;
}

.page__descr { 
    height: 80%;
    width:  100%;
    font-size: 3rem;
    color: lightsalmon
}

.list__div {
    background-color: lightgreen;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.todo__div {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.list__title {
    color: white;
    background-color: lightgreen;
    height: 10%;
    width: 100%;
    font-size: 4rem;
}

.break__line {
    border-top: 10px dashed lightcoral;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    height: 5%;
    margin: 20px;
}

.todo__element {
    color: white;
    background-color: lightgreen;
}