#root {
    height: auto;
    width: 100vw;
    background-color: var(--color-black);
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-x: hidden;
}

.loading__container {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-black);
    z-index: 99;
}

.logo__loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--color-brand);
    height: 100px;
    width: 100px;
    
}

.none {
    display: none;
}

.main__container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: var(--color-black);

}

.page__content {
    width: 60%;
    height: auto;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
   
}

.aside__container {
    width: 40%;
    height: auto;
    padding-right: 100px;
    background-color: var(--color-black);
}

/* Mobile/Tablet */

@media screen and (max-width: 1024px) {
    .main__container {
        width: 100%;
    }


    .page__content {
        width: 100%;
    }

    .aside__container {
        width: calc(100% - 60px);
        height: auto;
        padding-right: 100px;
        background-color: var(--color-black);
        position: absolute;
        top: 0;
        right: -100%;
        transition: all 0.75s ease-in-out;
    }

    .hide {
        right: 0;
    }
    
}

/* Desktop */

@media screen and (min-width: 1025px) {
    
}